IVI Checkmate Form Generator - Version 1.1 (Java)
FormNumber->[formnumber:1]
Bitmap->[file:bw_retek_logo.pcx]
Text->[x:2][y:19][font:2][italics:0][underline:0][reverse:0][text:Thank you for shopping at Retek]
Text->[x:2][y:21][font:2][italics:0][underline:0][reverse:0][text:www.retek.com]