# Implementation Information
CLIENT_IMPL=com.chelseasystems.cs.customer.CMSCustomerRMIClient
#CLIENT_IMPL=com.chelseasystems.cs.customer.CMSCustomerEJBServices
CLIENT_DOWNTIME=com.chelseasystems.cs.customer.CMSCustomerNullServices
SERVER_IMPL=com.chelseasystems.cs.customer.CMSCustomerJDBCServices
CLIENT_LOCAL_IMPL=com.chelseasystems.cs.customer.CMSCustomerFileServices
# Remote Object Lookup Name
REMOTE_NAME=CustomerServices

# Optional EJB Lookup Name
#REMOTE_NAME=CustomerServices

# Collect Performance Statistics
PERFORMANCE=true

# Logging
LOGGING_IMPL=com.chelseasystems.cr.logging.LoggingFileServices
LOGGING_FILE_NAME=../log/customer.log
LOGGING_LEVEL=4
LOGGING_PAUSE=5000
LOGGING_SYSTEM_OUT=true
LOGGING_SYSTEM_ERR=true

#Gender Type List
GENDER_TYPES=BLANK,MALE,FEMALE

BLANK.CODE=1
BLANK.LABEL=

MALE.CODE=2
MALE.LABEL=Male

FEMALE.CODE=3
FEMALE.LABEL=Female

#Customer ID Prefix for SAP Customers.
SAP_CUSTOMER_ID_PREFIX=S

#Customer ID Prefix for SAP Customers.
POS_CUSTOMER_ID_PREFIX=P

#CustyperType List
CUST_TYPES=BLANK,PREFERRED,PREMIO,VIP,EMPLOYEE

BLANK.CODE=1
BLANK.LABEL= 

PREFERRED.CODE=2
PREFERRED.LABEL=Preferred

PREMIO.CODE=3
PREMIO.LABEL=Premio

VIP.CODE=4
VIP.LABEL=VIP

EMPLOYEE.CODE=5
EMPLOYEE.LABEL=Employee



#Education
EDUCATION_TYPES=BLANK,GRADUATE,COLLEGE,SOME,HIGH_SCHOOL,OTHER
BLANK.CODE=1
BLANK.LABEL=

GRADUATE.CODE=2
GRADUATE.LABEL=Graduate

COLLEGE.CODE=3
COLLEGE.LABEL=College

SOME.CODE=4
SOME.LABEL=Some college

HIGH_SCHOOL.CODE=5
HIGH_SCHOOL.LABEL=High School

OTHER.CODE=6
OTHER.LABEL=Other


#Launch E-mail (CustomerManagementApplet) 
EMAIL_SCRIPT=launch_email.bat

#Launch CRM (CustomerManagementApplet) 
CRM_SCRIPT=launch_crm.bat

#Payment Type configuration
PAYMENT_TYPES=

#PT_1.CODE=PT_1
#PT_1.LABEL=American Express

#PT_2.CODE=PT_2
#PT_2.LABEL=citibank Gold

#PT_3.CODE=PT_3
#PT_3.LABEL=WellsFargo Premium


#Supplier Payment Type configuration
SUPPLIER_PAYMENT_TYPES=

#SPT_1.CODE=SPT_1
#SPT_1.LABEL=American Express

#SPT_2.CODE=SPT_2
#SPT_2.LABEL=citibank Gold

#SPT_3.CODE=SPT_3
#SPT_3.LABEL=WellsFargo


#Special Event Type configuration
SPECIAL_EVENT_TYPES=BLANK,BIRTHDAY,ANNIVERSARY,BABY,RELIGIOUS,OTHER,WEDDING

BLANK.CODE=1
BLANK.LABEL=

BIRTHDAY.CODE=2
BIRTHDAY.LABEL=Birthday

ANNIVERSARY.CODE=3
ANNIVERSARY.LABEL=Anniversary

BABY.CODE=4
BABY.LABEL=Baby Arrival

RELIGIOUS.CODE=5
RELIGIOUS.LABEL=Religious Event

OTHER.CODE=6
OTHER.LABEL=Other

WEDDING.CODE=7
WEDDING.LABEL=Wedding

#Profession Type configuration
PROFESSION_TYPES=BLANK,EXECUTIVE,FINANCE,MEDIA,HEALTHCARE,SALES,TECHNOLOGY,EDUCATION,OTHER

BLANK.CODE=1
BLANK.LABEL=

EXECUTIVE.CODE=2
EXECUTIVE.LABEL=Executive

FINANCE.CODE=3
FINANCE.LABEL=Finance

MEDIA.CODE=4
MEDIA.LABEL=Media/Publishing

HEALTHCARE.CODE=5
HEALTHCARE.LABEL=Healthcare

SALES.CODE=6
SALES.LABEL=Sales

TECHNOLOGY.CODE=7
TECHNOLOGY.LABEL=Technology/IT

EDUCATION.CODE=8
EDUCATION.LABEL=Education

OTHER.CODE=9
OTHER.LABEL=Other

#For Customer privacy, email,sms, mail, call[ Done for US]

PRIVACY_REQUESTED=no
MAIL_ALLOWED=yes
CALL_ALLOWED=yes
EMAIL_ALLOWED=yes
SMS_ALLOWED=yes

#Prepopulate search criteria
PREPOPULATE_SEARCH_CRITERIA=true

#Enable Return mail
ENABLE_RETURN_MAIL=true

#added for issue 1915 arm_emp_alert_rule implemented for US
CUSTOMER_TYPE_EMPLOYEE_CODE=1
USE_SOCIETY_CODE_FOR_EMP_ALERT_RULE=true
